<ul class="detalles-list" aria-label="Lugares de interés en Madrid">
  <li class="detalles-links"><a href="alcala.html" aria-label="Puerta de Alcalá">Puerta de Alcala</a></li>
  <li class="detalles-links"><a href="granvia.html" aria-label="Gran via">Gran Via</a></li>
  <li class="detalles-links"><a href="mayor.html" aria-label="Plaza Mayor">Plaza Mayor</a></li>
  <li class="detalles-links"><a href="palacio.html" aria-label="Palacio Real">Palacio Real</a></li>
  <li class="detalles-links"><a href="parque.html" aria-label="Parque del Retiro">Parque del Retiro</a></li>
  <li class="detalles-links"><a href="prado.html" aria-label="Museo del Prado">Museo del Prado</a></li>
  <li class="detalles-links"><a href="sol.html" aria-label="Puerta del Sol">Puerta del Sol</a></li>
  <li class="detalles-links"><a href="templo.html" aria-label="Templo de Debod">Templo de Debod</a></li>
</ul>
