<ul class="detalles-list">
  <li class="detalles-links"><a href="alcala.html">Puerta de Alcala</a></li>
  <li class="detalles-links"><a href="granvia.html">Gran Via</a></li>
  <li class="detalles-links"><a href="mayor.html">Plaza Mayor</a></li>
  <li class="detalles-links"><a href="palacio.html">Palacio Real</a></li>
  <li class="detalles-links"><a href="parque.html">Parque del Retiro</a></li>
  <li class="detalles-links"><a href="prado.html">Museo del Prado</a></li>
  <li class="detalles-links"><a href="sol.html">Puerta del Sol</a></li>
  <li class="detalles-links"><a href="templo.html">Templo de Debod</a></li>
</ul>
