<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer>
    <p>Siguenos en</p>
    <ul class="social-media__list">
      <li class="social-media__item"><a class="social-media__link" href="http://www.facebook.es" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="social-media__item"><a class="social-media__link" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="social-media__item"><a class="social-media__link" href="http://www.x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
    </ul>
  </footer>
</body>
</html>