<header class="header">
  <button class="btn-menu" id="btn-menu"><i class="fa-solid fa-bars"></i></button>
  <h1><a href="/src/index.html">VisitaMadrid</a></h1>
  <nav class="navbar" id="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/src/presentacion.html">Presentación</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/src/categoria.html">Categorias</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/src/enlaces.html">Enlaces</a></li>
    </ul>
  </nav>
</header>